/* 이거 서브페이지 메뉴 제외한 전 구역에 넣어보고싶음 */
@keyframes stretchRight {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}


@keyframes fadeout {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.wrap {
    width:100%;
    margin-bottom:60px;
}

.header {
    height:var(--header-height);
}

.title {
    color: var(--black);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.date {
    color: var(--gray-weak);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.line {
    margin:15px 0;
    position:relative;
    width:100%;
    height: 1px;
    background-color:var(--gray);
    animation:stretchRight 1000ms;
}

.markdown {
    /* color:var(--black-weak); */
    animation:fadeout 300ms;
    font-size:17px;
    font-weight:350;
    padding-bottom:32px;
}

.markdown * {
    user-select:text;
    margin:0;
}

.markdown a {
    color:var(--primary-white);
}

.markdown h1 {
    color: var(--black);
    font-size: 28px;
    font-weight:600;
    /* border-bottom:1px solid var(--gray); */
    margin-top:24px;
    margin-bottom:12px;
}

.markdown h1 code {
    font-size: 32px;
}

.markdown hr {
    border-bottom: 1px solid var(--primary-gray);
    margin:20px 0;
}

.markdown h2 {
    color: var(--black);
    font-size:24px;
    font-weight:600;
    /* border-bottom:1px solid var(--whitegray); */
    margin-top:28px;
}

.markdown h2 code {
    font-size:28px;
}

.markdown h3 {
    color: var(--black);
    font-weight:600;
    font-size:22px;
    margin-top:20px;
}

.markdown h3 code {
    font-size:22px;
}

.markdown h4 {
    color: var(--black);
    font-weight:600;
    font-size:20px;
    margin-top:12px;
}

.markdown h4 code {
    font-size:20px;
}

.markdown p {
    margin:6px 0px;
    line-height:27px;
}

.markdown blockquote {
    border-left: 5px solid var(--gray);
    padding-left: 10px;
}

.markdown pre {
    overflow-x:auto;
    color:var(--gray);
    border-radius: 6px;
    /* border: 1px solid var(--primary-gray); */
    padding: 10px;
    margin: 12px 0;
    background-color: var(--code-background);
    font-size:15px;
}

.markdown code {
    border-radius: 8px;
    line-height: 1.5;
    padding:3px 6px;
    background-color: var(--code-background);
    color:var(--black-weak);
    font-size: 15px;
}

.markdown pre > code {
    padding: 0;
    background-color: transparent;
    font-weight:normal;
    font-size:17px;
}

.markdown ul {
    margin-bottom:12px;
    padding-left: 48px;
}

.markdown li {
    margin:12px 0;
}

.markdown ol {
    margin-bottom:12px;
    padding-left: 48px;
}

.markdown .imageWrapper {
    display:flex;
    justify-content: center;
}

.markdown .image {
    max-width: -webkit-fill-available;
    border-radius: 10px;
    margin:10px auto;
    display:block;
    margin-bottom:10px;
    height:auto;
}

.markdown image-desc {
    color:var(--gray-weak);
    font-style:italic;
    font-size:14px;
    margin:8px 0;
}

@media all and (max-width:1000px) {
    .markdown { 
        font-size:16px;

    }
    .markdown p {
        margin-bottom:6px;
        line-height:25px;
    }
    .markdown ul, .markdown ol {
        padding-left:22px;
    }
    .title {
        font-size:26px;
    }
    .markdown h1 {
        font-size:24px;
    }
    .markdown h2 {
        font-size:22px;
    }
    .markdown h3 {
        font-size:20px;
    }
    .markdown h4, .markdown h5, .markdown h6 {
        font-size:18px;
    }
}