@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --sidebar-width:250px;
        --main-width:750px;
        --header-height:80px;
    }
}

@layer components {
    .line {
        width:100%;
        height:1px;
        background-color:var(--gray);
        animation:stretchRight 1000ms;
    }
}

html {
    --mobile-width:850px;
    --nav-height:40px;
    --footer-background:rgba(0, 0, 0, 0.10);
}

html[data-theme="light"] {
    --main-background-color:#f2f2f2;
    --menu-background-color:#e3e3e3;
    --black: #1d1d1d;
    --black-weak: #2b2b2b;
    --gray: #737373;
    --gray-weak:#919191;
    --whitegray:#a5a5a5;
    --whitegray-weak:rgb(209, 209, 209);
    --navbar-background-color:#fafafa;
    --code-background:#e3e3e3;

    --scroll-background:#bcbcbc;
    --scroll-thumb:#cdcdcd;
}

html[data-theme='dark'] {
    /* default mode is dark mode */
    --main-background-color:#1f2020;
    --menu-background-color:#1a1c1c;
    --black: #d9d9d9;
    --black-weak: #bbbbbb;
    --gray: #909090;
    --gray-weak:#7c7c7c;
    --whitegray:#5A5A5A;
    --whitegray-weak:rgb(71, 71, 71);
    --navbar-background-color:#161616;
    --code-background:#242424;

    --scroll-background:#3c3c3c;
    --scroll-thumb:#5b5b5b;
}

html, body {
    margin:0;
    padding:0;
}

html, body {
    background-color:var(--main-background-color);
    color:var(--black);
    margin:0;
}

#body-wrapper {
    min-height:100%;
}

::selection {
    background:rgba(64, 124, 139, 0.644);
}

::-webkit-scrollbar {
    width:10px;
    height:10px;
    background-color: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
    width:10px;
    height:10px;
    border-radius:30px;
    background-color: var(--scroll-thumb);
}