.layout {
    height:100vh;
}

.main {
    display:block;
    margin-left:var(--sidebar-width);
}

.sidebar {
    position:fixed;
    width:var(--sidebar-width);
    height:100%;
}

.body {
    min-height:100vh;
}

.body > *, .footer {
    margin:0 auto;
}

.navbar {
    width:var(--main-width);
}

.content {
    width:var(--main-width);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.article {
    width:var(--article-width);
}