@keyframes stretchRight {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}

@keyframes fadeout {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.mainWrap {
    animation:fadeout 300ms;
    width:100%;
    padding-bottom:50px;
}

.header {
    height:var(--header-height);
}

.title {
    color: var(--black);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.description {
    color: var(--gray-weak);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.hr {
    margin:15px 0;
    position:relative;
    width:100%;
    height: 1px;
    background-color:var(--gray);
    animation:stretchRight 1000ms;
}

.boardList {
    margin-top:20px;
    margin-bottom:20px;
}

/* @media all and (max-width:1000px) {
    .mainWrap {
        width:auto;
    }
    .title {
        font-size: 28px;
    }
    
    .description {
        font-size: 17px;
    }
} */