
.footer {
    width:100%;
    bottom:0;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: var(--footer-background);
    gap:6px;
    align-items: center;
    justify-content: center;
    height: 80px;
    flex-shrink: 0;
}

.footerWrap {
    margin: auto;
    max-width:var(--main-width);
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
}

.supportLog {
    margin:0;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.supportLog a {
    color:var(--black);
    font-weight:400;
}

.copyright {
    margin:0;
    color: var(--gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.githubLogo {
    margin:0 5px;
}

@media all and (max-width:1000px) {
    .footerWrap {
        padding-left:10px;
        padding-right:10px;
    }
}